<form id="login" action="/login" method="POST">
  <label for="email">Email:</label>
  <input type="text" name="email">

  <label for="password">Password:</label>
  <input type="password" name="password">

  <label for="deviceId">DeviceId:</label>
  <input type="text" name="deviceId">

  <button type="submit">Go</button>
</form>
