@font-face {
  font-family: FreightSansBook;
  src: url("../fonts/FreightSansBook.otf") format("opentype");
}

@font-face {
  font-family: FreightSansSemiBold;
  src: url("../fonts/FreightSansSemiBold.otf") format("opentype");
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #102235;

  font-family: 'FreightSansBook', sans-serif;
  font-size: 14px;
  color: #fff;
}

h1, h2, h3 {
  font-family: 'FreightSansBook', sans-serif;
  font-weight: lighter;
}
strong {
  font-family: 'FreightSansSemiBold', sans-serif;
  font-weight: lighter;
}
h1 {
  font-size: 40px;
  letter-spacing: 9px;
}
h3 {
  font-size: 18px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover, a:active {
  color: #0053a7;
  text-decoration: none;
}

ul.ui-autocomplete {
  list-style-type: none;
}

ul.ui-autocomplete li {
  list-style-type: none;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.smallcaps {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
}

.box-scroll-view {
  width: 940px;
  height: 380px;
  margin: 0 auto;
  overflow: hidden;
}

.boxes {
  width: 4000px;
  height: 380px;
  left: 0px;
  position: relative;
}

.boxes > div {
  width: 940px;
  height: 380px;
  display: inline-block;
  vertical-align: top;
}

.animated {
  -webkit-transition: left 0.5s ease-in-out;
}

.pos-abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* General box stuff */

.status-bar {
  width: 100%;
  height: 60px;
  text-align: center;
}

.status-bar h3 {
  line-height: 60px;
  margin: 0;
  display: inline-block;
}

.status-bar .button-box {
  position: relative;
  left: -8px;
  top: 16px;
  width: 175px;
  float: left;
  display: inline-block;
}

.status-bar div[class^=circular-button] {
  display: inline-block;
  width: 28px;
  height: 28px;
  padding-right: 38px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.status-bar .circular-button-1 {background-image: url('../icons/1-inactive.png')}
.status-bar .circular-button-1.active {background-image: url('../icons/1-active.png')}
.status-bar .circular-button-2 {background-image: url('../icons/2-inactive.png')}
.status-bar .circular-button-2.active {background-image: url('../icons/2-active.png')}
.status-bar .circular-button-3 {background-image: url('../icons/3-inactive.png')}
.status-bar .circular-button-3.active {background-image: url('../icons/3-active.png')}

.status-bar .next-button {
  width: 175px;
  float: right;
  cursor: pointer;
}

.title-bar {
  height: 50px;
  width: 100%;
  background-color: #1a2b3d;
}

.title-bar-dark {
  height: 50px;
  width: 100%;
  background-color: #0d1722;
}

.title-bar-dark .title-text {
  margin: 0;
  border: 0px;
  border-radius: 0px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  /*background-color: #07182a;*/
}

.available-shows {
  height: 110px;
  width: 940px;
  background-color: #1a2b3d;
}

.my-shows {
  height: 110px;
  width: 940px;
  background-color: #0d1722;
}

.tv-show {
  padding: 10px 10px 10px 1px;
  margin-left: 9px;
  width: 220px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
  /*border: 1px solid #fff;*/
}

.tv-show img {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 70px;
  height: 80px;
  display: inline-block;
}

.tv-show .show-title {
  position: relative;
  top: 10px;
  font-size: 18px;
  font-weight: lighter; 
}

.tv-show .show-subtitle {
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0;
  font-size: 14px;
  font-weight: lighter;
  color: rgba(255, 255, 255, .5); 
}

.tv-show .show-action {
  display: inline-block;
  position: relative;
  top: 6px;
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 2px;
  margin: 0;
}

.available-shows .tv-show:hover {
  background-color: #0d1722;
}
.available-shows .tv-show .show-action {
  color: #88ba00;
}

.my-shows .tv-show .show-action {
  color: #ff3b30;
}

.box-2 .status-bar {
  background-color: #007aff;
}
.box-3 .status-bar {
  background-color: #5856d6;
}
.box-4 .status-bar {
  background-color: #417c0c;
}

.form-control {
  margin-bottom: 15px;
  border: 0px;
  border-radius: 5px;
  padding: 21px 12px;
  font-size: 16px;
  color: #fff;
  background-color: #000c18;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#search-shows, .tt-hint, div[class^=tt-dataset] {
  margin: 0;
  border: 0px;
  border-radius: 0px;
  padding: 4px 12px 5px 12px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
}

.tt-hint {
  color: #bbb;
}

#search-shows, .tt-hint {
  height: 60px;
  position: relative;
  left: 20px;
}

#search-shows:focus {
  outline: none;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-icon {
  float: left;
  position: relative;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
}

/* 
 * 
 * BOX 1 SPECIFIC STUFF: 
 * 
 */

.box-1 .form-signup {
  max-width: 505px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;

  background-color: #07182a;
  border: 0px;
  border-radius: 10px;

  overflow: auto;
  width: 100%
}

.box-1 .form-signup .form-control {

}

.box-1 .form-signup button, .form-signup button:hover {
  width: 203px;
  color: #fff;
  border-radius: 5px;
  padding: 8px 16px;
}

.box-1 .form-signup button.email-signup { 
  float: left;
  background-color: #3b6800;
}
.box-1 .form-signup button.fb-signup { 
  float: right;
  background-color: #0053a7;
}

.box-1 .form-signup #or {
  position: relative;
  top: 12px;
}

.box-1 .account-already {
  text-align: center;
  margin-bottom: 50px;
}

/* 
 * 
 * BOX 2 SPECIFIC STUFF: 
 * 
 */