{{#extend stylsheets}}
  <link rel="stylesheet" href="/style/root.css" />
{{/extend}}
{{#extend scripts}}
  <script type="text/javascript", src="/javascripts/root.js"></script>
{{/extend}}

<h1>Let's do this!</h1>
